vti_encoding:SR|utf8-nl
vti_author:SR|Win11X64DEV\\akapusti
vti_modifiedby:SR|Win11X64DEV\\akapusti
vti_timelastmodified:TR|28 Dec 2025 05:39:52 -0000
vti_timecreated:TR|29 Oct 2025 02:03:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|en_GB/index.html en_GB/01-Introduction/index.html en_GB/toc.htm en_GB/03-UserInterface/01-Skins/index.html en_GB/content.htm en_GB/03-UserInterface/03-Dialogs/index.html en_GB/02-Concepts/02-UsersAndAccounts.html en_GB/02-Concepts/03-ActivitiesAndTasks.html en_GB/02-Concepts/05-Beneficiaries.html en_GB/02-Concepts/06-WorksAndEvents.html en_GB/03-UserInterface/02-Views/index.html en_GB/02-Concepts/index.html en_GB/02-Concepts/01-Workspaces.html en_GB/02-Concepts/04-ProjectsAndWorkStreams.html en_GB/03-UserInterface/index.html
vti_nexttolasttimemodified:TW|05 Aug 2025 13:49:28 -0000
vti_cacheddtm:TX|28 Dec 2025 05:39:52 -0000
vti_filesize:IR|3339
vti_cachedlinkinfo:VX|S|../fonts/Consolas15.fon S|../images/body_background.jpg
vti_cachedsvcrellinks:VX|FSUS|fonts/Consolas15.fon FSUS|images/body_background.jpg
