vti_encoding:SR|utf8-nl
vti_author:SR|Win11X64DEV\\akapusti
vti_modifiedby:SR|Win11X64DEV\\akapusti
vti_timelastmodified:TR|01 Nov 2025 22:36:50 -0000
vti_timecreated:TR|29 Oct 2025 02:03:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|en_GB/index.html en_GB/01-Introduction/index.html en_GB/toc.htm en_GB/content.htm en_GB/02-Concepts/02-UsersAndAccounts.html en_GB/02-Concepts/index.html en_GB/02-Concepts/01-Workspaces.html
vti_nexttolasttimemodified:TW|05 Aug 2025 13:49:28 -0000
vti_cacheddtm:TX|01 Nov 2025 22:36:50 -0000
vti_filesize:IR|3340
vti_cachedlinkinfo:VX|S|../fonts/Consolas15.fon S|../images/body_background.jpg
vti_cachedsvcrellinks:VX|FSUS|fonts/Consolas15.fon FSUS|images/body_background.jpg
