vti_encoding:SR|utf8-nl
vti_author:SR|Win11X64DEV\\akapusti
vti_modifiedby:SR|Win11X64DEV\\akapusti
vti_timelastmodified:TR|01 Nov 2025 05:15:54 -0000
vti_timecreated:TR|29 Oct 2025 02:03:42 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|en_GB/index.html en_GB/01-Introduction/index.html en_GB/toc.html en_GB/content.html
vti_nexttolasttimemodified:TW|05 Aug 2025 13:49:28 -0000
vti_cacheddtm:TX|01 Nov 2025 05:15:54 -0000
vti_filesize:IR|3003
vti_cachedlinkinfo:VX|S|../fonts/PxPlus_IBM_VGA_8x14.ttf S|../images/body_background.jpg
vti_cachedsvcrellinks:VX|FSUS|fonts/PxPlus_IBM_VGA_8x14.ttf FSUS|images/body_background.jpg
