/Obj.MFC
/Bin.MFC
/Src.MFC/.vs
/Src.NET/.vs
/Bin.NET
/Doc/TimeTracker3.ldb
/Src.NET/TimeTracker3/obj
/Src.NET/TimeTracker3/bin
/Src.NET/TimeTracker3.Db.API/obj
/Src.NET/TimeTracker3.Db.API/bin
/Src.NET/TimeTracker3.Db.XmlFile/obj
/Src.NET/TimeTracker3.Db.XmlFile/bin
/Src.NET/TimeTracker3.GUI/obj
/Src.NET/TimeTracker3.GUI/bin
/Src.NET/TimeTracker3.Util/obj
/Src.NET/TimeTracker3.Util/bin
/Src.NET/TimeTracker3.Workspace/obj
/Src.NET/TimeTracker3.Workspace/bin
/Src.NET/TimeTracker3.Skin.Admin/obj
/Build.QT
/Bin.QT
